@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Pacifico');
@import url('https://fonts.googleapis.com/css?family=Gugi|Just+Another+Hand|Raleway|Sofia|ZCOOL+KuaiLe');

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$Pacifico: 'Pacifico', cursive;
$Amatic: 'Amatic SC', cursive;

$font-zcool: 'ZCOOL KuaiLe', cursive;
$font-gugi: 'Gugi', cursive;
$font-jah: 'Just Another Hand', cursive;
$font-sofia: 'Sofia', cursive;
$font-raleway: 'Raleway', sans-serif;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$black: #000000;
$white: #ffffff;

//height
$nav_height: 100px;