// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
//Social network
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,cyrillic);


html,
body {
    position: relative;
    font: 12px/18px Arial, sans-serif;
    overflow-x: hidden;
}


.slider {
    height: 93.6vh;
    width: 100%;
    background-image: url(../img/slide_1.png);
}

.second-block {
    height: 100vh;
    width: 100%;
    background-color: white;
    padding-top: 30px;
    hr {
        margin: 0;
    }
    
    &__title {
        color: black;
        font-family: "Pacifico", cursive;
        height: 100px;
        width: 100%;
        text-align: center;
        margin: 0 30px 30px 30px;
        letter-spacing: 3px;
        font-size: 22px;
        line-height: 33px;
    }

    &__bulb-icon {
        color: Khaki;
        //padding: 10px;
    }
    
    &__earth-icon {
        color: SkyBlue;
    }

    &__link-icon {
        color: Gainsboro;
    }
    &__trigger {
        margin: 0;
        width: 50%;
        height: 37vh;
        display: flex;
        float: left;
        //border: 1px solid black;
        justify-content: center;
        align-items: center;
        
        &:hover {
            background-color: aliceblue;
        }
        
        p {
            margin: 0 0 0 50px;
            font-family: $Amatic;
            font-size: 33px;
        }
    }

}

.create_banner_with_us {
    height: 100vh;
    width: 100%;
    background-color: dimgray;
}

.footer {
    height: 10vh;
    width: 100%;
    background-color: yellow;
}

.backgroundImage {
    position: relative;
}
//.twitter a:hover {
//    background: #00acee;
//    color: #fff;
//}
//
//.instagram a:hover {
//    background: #3f729b;
//    color: #fff;
//}
//
//.vk a:hover {
//    background: #5d84ae;
//    color: #fff;
//}
