// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
//Social network
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,cyrillic);
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Gugi'); //Вынести в variables

html,
body {
  position: relative;
  //font: 12px/18px Arial, sans-serif;
  overflow-x: hidden;
}


.slider {
  min-width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url("../../public/images/slide_1.jpg");
  display: flex;
  align-items: center;
  justify-content: center;

  .text {
    .title {
      font-family: 'Gugi', cursive;
      color: white;
      font-size: 4rem;
    }

    .subtitle {
      font-family: 'Amatic SC', cursive;
      color: white;
      font-size: 3rem;
      background-color: #ffa46b;
      padding: 0 3vw;
    }
  }

}

.second-block {
  height: 100vh;
  width: 100%;
  background-color: white;


  &__title {
    color: black;
    font-family: "Pacifico", cursive;
    height: 20vh;
    width: 100%;
    text-align: center;
    //margin: 0 30px 30px 30px;
    letter-spacing: 3px;
    font-size: 1rem;
    line-height: 33px;
    border-bottom: 1px solid black;
  }

  &__bulb-icon {
    color: Khaki;
    //padding: 10px;
  }

  &__earth-icon {
    color: SkyBlue;
  }

  &__link-icon {
    color: Gainsboro;
  }

  &__triggers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40vh 40vh;
    &__trigger {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;




      &:hover {
        background-color: aliceblue;
      }

      p {
        font-family: $Amatic;
        font-size: 2rem;
        text-align: center;
      }
    }
  }
}

.create_banner_with_us {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .image_banner {
    width: 50vw;
    height: 90vh;
    margin: 5vh;
    background-image: url(/images/primer.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right;
  }

  .textforimage {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      font-size: 35px;
      font-family: 'Amatic SC', cursive;
    }
  }
}

.footer {
  height: 10vh;
  width: 100%;
  background-color: #eeeeee;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .social-icons {
    display: flex;
    flex-direction: row;
    width: 50vw;
    height: inherit;
    justify-content: flex-start;
    align-items: center;
    margin: 0 2vw;
  }
  .text-footer {
    margin: 2vw;
  }
}

.backgroundImage {
  position: relative;
}

//.twitter a:hover {
//    background: #00acee;
//    color: #fff;
//}
//
//.instagram a:hover {
//    background: #3f729b;
//    color: #fff;
//}
//
//.vk a:hover {
//    background: #5d84ae;
//    color: #fff;
//}
